{% extends "main.html" %}

{% block title %}Загрузка данных{% endblock %}

{% block content %}
<style>
.button {
  background-color: #94b0d1;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
  padding: 8px 8px;
}
</style>


<center>
<h1>Загрузка данных</h1>

</center>
<p>Данные для загрузки должны иметь формат csv, первый столбец содержит значения индексов объектов. Признаки должны иметь вещественнозначный тип.
Если датасет является обучающей или валидационной выборкой, то необходимо указать навание столбца признака, отвечающего целевой переменной, если она содержится в загружаемых данных, или загрузить соответствующий столбец отдельно в формате csv. В таком случае файл должен содержать 2 столбца - индекс и значения целевой переменной соответственно.</p>


<form method='POST' enctype="multipart/form-data" action={{ url_for('get_data') }}>
    {{ form.csrf_token }}
    <div class='field'>
        {{ form.name.label }}
        {{ form.name(size=20) }}
    </div>
    <div class='field'>
        {{ form.data_file.label }}
        {{ form.data_file() }}
    </div>
    <div class='field'>
        {{ form.target_name.label }}
        {{ form.target_name(size=20) }}
    </div>
    <div class='field'>
        {{ form.target_file.label }}
        {{ form.target_file() }}
    </div>
    <input type="submit" value="Загрузить" class="button">
</form>

<h3>Загруженные данные:</h3>
    <ul>
        {% if not datasets %}
            <p>Нет загруженных данных</p>
        {% else %}
            {% for name, dataset in datasets.items(): %}
                <li><b>Датасет {{ name }}</b>. Целевая переменная — 
                    <i>{{ dataset.target_name if dataset.target_name != '' else 'неизвестна'}}</i>.
                </li>
                <div style="text-align: center;">
                <div style="display: inline-block;">
                {{ dataset.data.head().to_html(justify='center') | safe }}
                </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}
    </ul>

<br>
<a href="{{ url_for('get_index') }}"><button class="button">На главную</button></a>
{% endblock %}
