<!doctype html>

<html lang="ru">

<head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            font-family: 'sans-serif';
            font-weight: 500;
            background: url('/static/bg.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>     
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>
