{% extends "main.html" %}

{% block title %}Выбор модели{% endblock %}

{% block content %}
<center>
<h1>Выбор модели</h1>
<p>Для выбора доступны алгоритмы случайный лес и градиентный бустинг</p>
<form method='POST' action={{ url_for('model_start_page') }}>
    <div class='field'>
        {{ form.name.label }}
        {{ form.name(size=20) }}
    </div>
    <div class='field'>
        {{ form.model_type.label }}
        {{ form.model_type() }}
    </div>
    <input type="submit" value="Продолжить">
</form>
  
<h3>Готовые к использованию модели:</h3>
<ul>
    {% if not models %}
        <p>Нет созданных моделей</p>
    {% else %}
        {% for name in models: %}
            <li><a href={{ url_for('model_page', name=name) }}>{{ name }}</a></li>
        {% endfor %}
    {% endif %}
</ul>

<br>
<a href="{{ url_for('get_index') }}"><button>На главную</button></a>
</center>
{% endblock %}
